{% extends "customer_private.html" %}

{% block content %}
<h1>Welcome, {{ username }}</h1>
<p>Explore the app:</p>
<p>Below is the map of the seven-mile Trip. Please use this as a guide if you need to get in contact with us in the event of an emergency</p>

<!-- [FIX] Use url_for to load the image from static/images folder -->
<div id="image-container" style="position: relative;">
    <img
        id="map-image"
        src="{{ url_for('static', filename='images/CCCRiverMap24-WPhotos.jpeg') }}"
        alt="Map Image"
        style="max-width: 100%; height: auto;"
    >
</div>

<ul>
    <li><a href="{{ url_for('reviews_page') }}">View and Submit Reviews</a></li>
    <li><a href="{{ url_for('submit_log_page') }}">Submit Emergency Log</a></li>
    <li><a href="{{ url_for('chat') }}">Join Chat Room</a></li>
</ul>
{% endblock %}