{% extends 'base.html' %} 

{% block content %} 

<h2>Register</h2> 

<form method="post"> 

    {{ form.hidden_tag() }} 

    <label>First Name:</label><br> 

    {{ form.first_name(size=32) }}<br><br> 

    <label>Last Name:</label><br> 

    {{ form.last_name(size=32) }}<br><br> 

    <label>Username:</label><br> 

    {{ form.username(size=32) }}<br><br> 

    <label>Email:</label><br> 

    {{ form.email(size=32) }}<br><br> 

    <label>Password:</label><br> 

    {{ form.password(size=32) }}<br><br> 

    <label>Repeat Password:</label><br> 

    {{ form.password2(size=32) }}<br><br> 

    {{ form.submit() }} 

</form> 

{% endblock %} 
