{% extends 'base.html' %} 

{% block content %} 

<h2>Create Site Details</h2> 

<form method="post"> 

    <label>Name:</label><br> 

    <input type="text" name="name" required><br><br> 

     

    <label>Description:</label><br> 

    <textarea name="description" rows="4" cols="50" required></textarea><br><br> 

     

    <label>Latitude:</label><br> 

    <input type="text" name="latitude" required><br><br> 

     

    <label>Longitude:</label><br> 

    <input type="text" name="longitude" required><br><br> 

     

    <button type="submit">Create Site</button> 

</form> 

{% endblock %} 
