% extends 'base.html' %} 

{% block content %} 

<h2>Leave a Review</h2> 

<form method="post"> 

    {{ form.hidden_tag() }} 

    <label>Customer Trip ID:</label><br> 

    <select name="customer_trip_id"> 

        {% for trip in customer_trips %} 

            <option value="{{ trip.CustomerTripID }}">{{ trip.Trip.TripID }} - {{ trip.Trip.route.start_location.Name }} to {{ trip.Trip.route.end_location.Name }}</option> 

        {% endfor %} 

    </select><br><br> 

    <label>Rating (1-5):</label><br> 

    {{ form.rating() }}<br><br> 

    <label>Feedback:</label><br> 

    {{ form.feedback(rows=4, cols=50) }}<br><br> 

    {{ form.submit() }} 

</form> 

{% endblock %} 
