{% extends 'base.html' %} 

{% block content %} 

<h2>Create Employee</h2> 

<form method="post"> 

    <label>First Name:</label><br> 

    <input type="text" name="first_name" required><br><br> 

     

    <label>Last Name:</label><br> 

    <input type="text" name="last_name" required><br><br> 

     

    <label>Username:</label><br> 

    <input type="text" name="username" required><br><br> 

     

    <label>Email:</label><br> 

    <input type="email" name="email" required><br><br> 

     

    <label>Position:</label><br> 

    <input type="text" name="position" required><br><br> 

     

    <label>Password:</label><br> 

    <input type="password" name="password" required><br><br> 

     

    <button type="submit">Create Employee</button> 

</form> 

{% endblock %} 
