Flask==2.3.2
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
python-dotenv==1.0.0
mysql-connector-python==8.1.0
mysqlclient==2.1.1
pymysql==1.1.1
mysql==2.2.5